<!DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Sign Up</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container justify-content-center w-50 p-3" style="background-color: #eeeeee; margin-top: 5em;">
            <div class="form-group">
                <label><a href="/login">Back to Login</a></label>
            </div>

            <h1 class="display-5">Sign Up</h1>
            <form action="#" method="POST" th:object="${createUserRequest}" th:action="@{/signup}">
                <div id="success-msg" class="alert alert-dark" th:if="${response?.data}">
                    You successfully signed up! Please continue to the <a href="/login">login</a> page.
                </div>
                <div class="alert alert-danger" th:if="${response?.error}">
                    <span th:text="${response.error}"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputFirstName">First Name</label>
                        <input th:field="*{firstname}" name="firstname" type="text" class="form-control" id="inputFirstName" placeholder="Enter First Name" maxlength="20" required>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputLastName">Last Name</label>
                        <input th:field="*{lastname}" name="lastname" type="text" class="form-control" id="inputLastName" placeholder="Enter Last Name" maxlength="20" required>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputUsername">Username</label>
                        <input th:field="*{username}" name="username" type="text" class="form-control" id="inputUsername" placeholder="Enter Username" maxlength="20" required>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword">Password</label>
                        <input th:field="*{password}" name="password" type="password" class="form-control" id="inputPassword" placeholder="Enter Password" maxlength="20" required >
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{username}"></div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="buttonSignUp">Sign Up</button>
            </form>
        </div>
    </body>
</html>
